<h1>Look Up Books</h1>

<form action="/book">
<label for="book">Book Title</label>
  <input id="book" type="text" name="book" placeholder="enter book title" autofocus required>

  <button name="button">Search</button>
</form>
